<div class="marketing">
	<h1>Books for Sale</h1>
	<p class="marketing-byline">
		Interested in a book? Email the student to purchase. It's that easy!
	</p>	
</div>	

<%= render :partial => "books" %>

<% content_for :cta do %>
	<h1>Replace the UMaine Bookstore</h1>
  <h2>Sell your books, without the bookstore</h2>
  <%= form_tag books_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search], :class => 'main-search', :placeholder => "Book Title or Class #" %>
      <%= submit_tag "Search Books", :name => nil, :class => 'btn btn-success' %>
    </p>
  <% end %>
<% end %>
